<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рады приветствовать Вас!</title>
</head>
<body>
    {% load account %} <!-- Загружаем тег который позволит получить нам ссылку на подтверждение -->
    <h1>Спасибо за регистрацию на нашем сайте, {{ user.username }}!:)</h1>
    <h3>Пожалуйста, перейдите по ссылке  <a href="{{ activate_url }}"></a>  для активации аккаунта</h3>
     <h3>и введите код активациие {user.code} ></a>  для входа в личный кабинет</h3>
     <!-- Вставляем ссылку на активацию -->
</body>
</html>