
{% extends 'flatpages/default.html' %}
{% load custom_filters %}


{% block title %}

{% load cache %}
{% cache 6 title %}

Обявления

{%endcache%}
{% endblock title %}


{% block content %}


<h2>Страница  пользователя: - {{request.user.username}}</h2>
<br>
{% if is_not_premium %}
<h5>Что бы стать автором объявлений, подтвердите свой емайл</h5>
<br>
 <a href="/sign/login/"> Подтвердить свой емайл адрес </a>
<br>
 {% endif %}
    <a href="{% url 'entrance'%}">Вернуться в аккаунт автора</a>



<br>
    <br>
   <h1>Все объявления</h1>
   <h3>{{ time_now|date:'M d Y' }}</h3>
   <h3> {{ value1|default_if_none:"объявлений нет" }} </h3>

{% if posts %}
    <br>
    <br>

       <table>

          <tr>
              <td>
                  Действия
              </td>

              <td>
                  Фото
              </td>


              <td>
                  Автор
              </td>
               <td>
                  Дата
               </td>
               <td>
                  Название
               </td>

               <td>
                  Текст
               </td>



             <h5>Купить </h5>

          </tr>
          {% for post in posts|get_queryset_1 %}
           <tr>
        <td>
            <a href="{% url 'post_edit' post.id %}">  <u>Редактировать</u></a>
            <a href="{% url 'post_delete' post.id %}">     <u> Удалить </u></a>
            <br>
            <a href="{% url 'respond_create' post.id %}">     <u> Добавить комментарий </u></a>
        </td>
                 <td>



                {% if post.photo %}
              <img src="{{post.photo.url}}" width="100">
                {%else%}
                    {%endif%}
               </td>


               <td>
                {{ post.author.authorUser.username }}
               </td>

               <td>
                {{ post.dateCreation|date:'d.m.Y H:i' }}
                </td>

                <td>
             <a href="{% url 'post_detail' post.pk %}">{{ post.title|Censor }}</a>
               </td>

               <td>
                   {{ post.text|truncatewords:50  }}
               </td>

            </tr>
           {% endfor %}
       </table>

  <br>
      <a href="{% url 'post_create' %}">Добавить новое объявление купить или продать</a> <br>
      <a href="{% url 'post_search' %}">Найти объявления купить или продать</a> <br>
    <br>
      <table>
          <tr>
              <td>
                  Действия
              </td>

               <td>
                  Фото
              </td>
              <td>
                  Автор
              </td>

              <td>
                  Дата
              </td>

              <td>
                  Название
              </td>

              <td>
                  Текст
              </td>



             <h5> Продать</h5>
          </tr>
          {% for post in posts|get_queryset %}
            <tr>

               <td>
            <a href="{% url 'post_edit' post.id %}">  <u>Редактировать</u></a>
            <a href="{% url 'post_delete' post.id %}"> <u> Удалить </u></a>

        </td>

                <td>

                {% if post.photo %}
              <img src="{{post.photo.url}}" width="100">
                {%else%}
                    {%endif%}
               </td>


               <td>
                {{ post.author.authorUser.username }}
               </td>

               <td>
                {{ post.dateCreation|date:'d.m.Y H:i' }}
               </td>

                <td>
               <a href="{% url 'post_detail' post.pk %}">{{ post.title|Censor }}</a>
                </td>

                 <td>
                   {{ post.text|truncatewords:50 |Censor }}
                 </td>

           </tr>
          {% endfor %}
       </table>


{% else %}
       <h2>Объявлений нет!</h2>

{% endif %}


{% endblock content %}



