<!DOCTYPE html>
{% extends 'flatpages/default.html' %}
{% load custom_filters %}


{% block content %}

<div class="col-md-8 card mb-4  mt-3">

                <div class="card-body">
                    <!-- comments -->
                     <h2>Всего {{ post.comments.count }}  отклика(ов) на объявление, одобрены автором  {{ post.author.authorUser.username }}, эл. почта {{ user.email }}  :</h2>


                    {% for comment in post.comments.all|get_queryset_2 %}

                    <div class="comments" style="padding: 10px;">
                        <p class="font-weight-bold">
                            {{ comment.user_sender }}
                            <span class="">
                                {{ comment.dateCreation }}
                           </span>
                        </p>
                        {{ comment.text | linebreaks }}
                    </div>
                    {% endfor %}
                </div>

                <div class="card-body">
                    {% if new_comment %}
                    <div class="alert alert-success" role="alert">
                        Your comment is awaiting moderation
                    </div>
                    {% else %}
                    <h3>Leave a comment</h3>
                    <form method="post" style="margin-top: 1.3em;">
                        {% csrf_token %}
                        {{ comment_form.as_p }}
                        <button type="submit" class="btn btn-primary btn-lg">Submit</button>

                    </form>
                    {% endif %}
                </div>
            </div>


{% endblock content %}
</html>


